<div class="test">
  <div class="preparation container">
    <span class="heading">традиції та любов</span>
    <h2 class="made">екологічність</h2>
    <div class="tablet">

                <img class="trademark" src="./images/preparation-desctop/priroda.jpg" alt="корова и молоко">
            
       
             <p class="made-text">
                 <span class="madetxt" >
                  Здоров'я та краса.
                 </span><br>
                    <span class="Curabitur"> Компанія ECO SHOP - представник кращих українських виробників екологічно чистих товарів.
                      У нашому інтернет-магазині представлені продукти, які допоможуть Вам значно полегшити вирішення багатьох побутових проблем і, при цьому, не завдадуть шкоди Вашому здоров'ю та здоров'ю Ваших близьких.</span>
             </p>
          
                  <button class="button">Читати більше 
                    <svg class="bnt-svg" width=8 height=10> <use href="./images/sprite.svg#icon-button-arrow"></use></svg>
                  </button>  
               </div>
                    
              <!-- <picture>
                <source srcset="
                          ./images/preparation-desctop/sectionbg.png 1x,
                          ./images/preparation-desctop/sectionbg@2x.png 2x" media="(min-width:1200px)" type="image/png">
              
                <source srcset="
                          ./images/preparation-mobil/sectionbg.png 1x,
                          ./images/preparation-mobil/sectionbg@2x.png 2x" media="(max-width:767px)" type="image/png">
                <img class="milk relative" src="./images/preparation-mobil/sectionbg.png" alt="корова и молоко">
              </picture> -->
               
                <!-- <img class="milk relative" src="./images/preparation-mobil/sectionbg.png" alt="фон молока"> -->
            
            
    <!-- <ul  class="total">
              <li class="total-item">
                <svg class="preparation-icon">
                  <use href="./images/sprite.svg#icon-milk">
                  </use>
                </svg>
                  <span class="indicators">721</span> 
                 <p class="indicatorstxt">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>  
             </li>
        
             <li class="total-item">
                   <svg class="preparation-icon">
                   <use href="./images/sprite.svg#icon-apples">
                   </use>
                 </svg>
                  <span class="indicators">16kg</span>   
                  <p class="indicatorstxt">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>
              </li>
         
              <li class="total-item"  >
                <svg class="preparation-icon">
                   <use href="./images/sprite.svg#icon-ice-cream">
                   </use>
                 </svg>
                 <span class="indicators">84</span>  
                 <p class="indicatorstxt">
                 Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
             </li>
         </ul> -->
       
    </div>
</div>
