
<div class="about-products container"> 
    <b class="text-products">100% натуральні</b> 
    <h2 class="title-products">продукти</h2> 
      <ul class="products-menu">
            <li class="products-cards ice-cream">

                    <img class="products-images" src="./images/products/bag1.jpg" alt="ice-cream">
                
                    <h3 class="title-menu">аксесуари</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-ice-cream">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>

            <li class="products-cards ice-coffee">
                    <img class="products-images" src="./images/products/toy1.jpg" alt="ice-coffee">
                
                    <h3 class="title-menu">іграшки</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-ice-coffee">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>

            <li class="products-cards milkshakes">
                    <img class="products-images" src="./images/products/cosmetic.jpg" alt="ice-coffee">
                
                    <h3 class="title-menu">косметика</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-milkshakes">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>
        </ul>
</div>